# AWS Credentials (ก๊อปจากหน้า AWS Details ใน Learner Lab)
AWS_ACCESS_KEY_ID=ASIAY3UGPEJXMXIIVIDX
AWS_SECRET_ACCESS_KEY=hF2g15Fd3eoK/IYJG5aIO6JHne9KcAEHzn7DRrmi
AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjEFUaCXVzLXdlc3QtMiJHMEUCIB114eRm9sQARw7tR2qEFD7PVXGOJ/WZYnxBl50LLgUSAiEApJ6W49+NBqLBTjROjQIaaB0HYEkJnIQrAMxS1WXKORQqtAIIHhAAGgw2MDkwOTM2MjQ0MzAiDO0Tv3Xkk9ua8nC6byqRAtO4WmsMNJOnF8dlTYM/GwLP9rdMM13NydscTCck1GxqVoLgRghWHoNTwsP2C5kxeGYtXi2wy5x4MyQejCFMOOQg25mTfP+tEKKwRnFJhkBEnKooZNqWzZvevqx/x3HbkQ3kiJHs+HnhPQohvD3ZEKx9sJ5YI8QssbfmAEGr1sY8+KKf615yFVPghcieINHT3TkC6BZDHA5zJmT+1tWd5Oz+7OtIhUjJ755rOhTwWPIWwXxzSZJikysir8pJcxTBD5Td1QZTyisoc17gPFcS4spydu/L8vs1y/8kQEWltpsF9Ocf7EkIgtPoj38nO56xjiqi+vQlhGnm7u97zXdpTqSfuJxnZYNX+n8PuAaOmqFoRzCv1u/NBjqdAVRacdD7IkTqSnog6sHEWs9yrbgCeRVY7O7iVK1f7tGyZbupVdwXVDx4A8gYNC0m+/zg3D669jw0tfjhGVJgWyO0BZMNwiaHIN6LYqfbU3ofSv5TmFrBqCkt876Wg2eYgvcGsUrBNh9ND6fICwSn5t7cC8IhcYYWkZoxiskL8pA+p9ZXhulsOzI2f6E3g4CYRQyLozJrf9oUnPCFFJw=
AWS_REGION=us-east-1

# Database Config
DYNAMODB_TABLE_NAME=IncidentReports