# AWS Credentials (ก๊อปจากหน้า AWS Details ใน Learner Lab)
AWS_ACCESS_KEY_ID= ใส่ค่า access key ที่ได้จาก AWS Details ใน Learner Lab
AWS_SECRET_ACCESS_KEY=ใส่ค่า secret key ที่ได้จาก AWS Details ใน Learner Lab
AWS_SESSION_TOKEN=ใส่ค่า token ที่ได้จาก AWS Details ใน Learner Lab
AWS_REGION=ใส่ค่า region ที่ได้จาก AWS Details ใน Learner Lab (เช่น us-east-1)

# Database Config
DYNAMODB_TABLE_NAME=IncidentReports
//เปลี่ยนชื่อ table ตามที่ได้ตั้งไว้ใน CloudFormation template (เช่น IncidentReports-inceda)
